@import '~material-design-lite/dist/material.min.css';

.panel {
  background-color: white;
  border-radius: 2px;
  min-height: 200px;
  
  &.over {
    background-color: #eeeeee;
  }

  .title {
    background-color: #eeeeee;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    padding: 12px;

    h4 {
      margin: 0;
    }
  }

  .profile {
    cursor: pointer;

    .body {
      width: 100%;

      .avatar {
        background-size: cover;
        border-radius: 100px;
        display: block;
        height: 150px;
        width: 150px;
      }
    }
  }
}
